{% extends 'layout.html' %}
{% from 'pokemon_macro.html' import pokemon_card  %}

{% block title %}Home{% endblock %}

{% block container %}
  {% navbar('index.html') %}

  <h1 class="text-center">Lista de Pokemones</h1>
  <div class="row">
    {% for pokemon in pokemones %}
      {{ pokemon_card(pokemon) }}
    {% endfor %}
  </div>
  <ul>
    {% for pokemon in pokemones %}
      <li><a href="{{ pokemon.url }}">{{ pokemon.name }} {{pokemon.id}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block scripts %}
<script>
  const lista_pokemones = []

  $('.add-pokemon').on('click', function() {
    const id = $(this).attr('data-id')
    const name = $(this).attr('data-name')
    const url = $(this).attr('data-url')

    lista_pokemones.push({ id, name, url })

  })
</script>
{% endblock %}